@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$bg-color: rgb(50, 50, 50);
$accent-color: rgb(74,130,248);
$small-text-color: #71BBFB;
$alert-color: rgb(255, 202, 103);