@use "base" as *;
@use "component" as *;

body {
    @include color($bg-color, white);
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    overflow-y: scroll;
}

p { font-size: 18px; }

#container {
    @include box(650px, 95%, auto);
    @include displaydirect(flex, column);
    margin: 0 auto;
    align-items: center;

    #search-container {
        @include displaydirect(flex, column);
        align-items: center;
        gap: 40px;
        margin-top: 250px;
        width: 100%;
        transition: all 0.8s ease;

        #inner-search-container {
            position: relative;
            width: 100%;

            #search-bar {
                @include box(100%, 100%, 50px);
                @include displayalign(flex, center);
                background-color: $lighten-20;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
                border-radius: 5px 5px 0 0;
            }
            input[type=text] {
                @include box(auto, 100%, 100%);
                @include color(rgba(0, 0, 0, 0), white);
                flex-grow: 1;
                border: 0;
                font-size: 20px;
                padding: 10px;

                &:focus { outline: none; }
            }

            #search-tag {
                @include color($lighten-40, white);
                @include displayalign(none, center);
                box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
                border-radius: 30px;
                padding: 3px 5px 3px 8px;
                gap: 3px;
                margin-left: 8px;
                
                #tag-name { font-size: 16px; }
                #remove-tag { font-size: 20px; }

                #remove-tag:hover { cursor: pointer; color: $lighten-10; }
            }
        }
    }
}

.at-top { margin-top: 40px !important; }

#input::placeholder { color: lighten($bg-color, 45%); }