@use "base" as *;
@use "component" as *;

body {
    background-color: $bg-color;
    color: white;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}

p { font-size: 18px; }

#container {
    @include box(800px, 95%, auto);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    #search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 300px;
        max-width: 100%;
        transition: all 0.8s ease;

        #intro-text {
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            color: white;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
            position: absolute;
            margin-top: -120px;
            width: 700px;
            max-width: 95%;
        }

        h1 { text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7) };

        #search-bar {
            display: flex;
            align-items: center;
            border-bottom: 3px solid $accent-color;
            @include box(500px, 95%, 30px);
            background-color: lighten($bg-color, 20%);
            padding: 5px;
            gap: 5px;
        }
        input[type=text] {
            @include box(auto, 100%, 100%);
            /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7); */
            flex-grow: 1;
            border: 0;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0);
            color: white;     

            &:focus { outline: none; }
        }

        #search-tag {
            background-color: lighten($bg-color, 40%);
            border-radius: 30px;
            color: white;
            padding: 3px 5px 3px 8px;
            display: flex;
            align-items: center;
            gap: 3px;
            align-self: start;
            margin-top: 2px;
            display: none;
            
            #tag-name { font-size: 16px; }
            #remove-tag { font-size: 20px; }

            #remove-tag:hover { cursor: pointer; color: $accent-color; }
        }
    }
}

.at-top { margin-top: 0 !important; }
.fade-out { opacity: 0; transition: 0.8s ease; }